// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == mini-phone {
    @media only screen and (max-width: 21.875em) { @content }; // 350px
  } @else if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }; // 600px
  } @else if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }; // 900px
  } @else if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }; // 1200px
  } @else if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content }; // 1800px+
  } @else if $breakpoint == large-desktop {
    @media only screen and (min-width: 160em) { @content }; // 2560px+
  } @else if $breakpoint == ipad-port {
    @media only screen
    and (min-width: 64em)
    and (max-width: 86em)
    and (max-height: 85.375em)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1.5)
    and (hover: none) { @content };
  } @else if $breakpoint == ipad-land {
    @media only screen
    and (min-width: 64em)
    and (max-width: 86em)
    and (max-height: 85.375em)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 1.5) { @content }
  } @else if $breakpoint == ipad {
    @media only screen
    and (min-width: 64em)
    and (max-width: 86em)
    and (max-height: 85.375em)
    and (-webkit-min-device-pixel-ratio: 1.5)
    and (hover: none) { @content }
  }
}
